## Ignore Visual Studio Code files, except for build 
##
## Get latest from https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/c_cpp_properties.json
!.vscode/extensions.json
*.code-workspace
*.exe

# Local History for Visual Studio Code
.history/